<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <title>CareerPath</title>
</head>

<body>
<!--/*  Multiple fragments may be defined in one file */-->




<footer class="footer">
    <div class="container">
        <hr class="featurette-divider"/>
        <div class="row">
	       <div class="col-xs-3">
	               <p class="text-muted">2016 Copyright</p>
	       </div>        
	        <div class="col-xs-9 text-right">
	            <a class="btn btn-social-icon btn-facebook"  href="https://www.facebook.com/sanjosestate"><i class="fa fa-facebook"></i></a>
	            <a class="btn btn-social-icon btn-github"  href="https://github.com/vineetbhatkoti/CareerPath"><i class="fa fa-github"></i></a>
	            <a class="btn btn-social-icon btn-linkedin"  href="https://www.linkedin.com/edu/san-jose-state-university-17911"><i class="fa fa-linkedin"></i></a>
	            <a class="btn btn-social-icon btn-twitter"  href="https://twitter.com/sjsu"><i class="fa fa-twitter"></i></a>
	        </div>  
        </div>
    </div>
</footer>

</body>
</html>