<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Create Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../static/js/jquery-1.10.1.min.js" th:src="@{/js/jquery-1.10.1.min.js}"></script>
    <div th:fragment="header">
        <style>
            td {
                padding: 10px 15px 10px 15px;
            }
            input[type=text] {
                width: 400 px;
                height: 45 px;
            }
        </style>
        <!--
                /* Script:
                *   By Default: Keep true or false as disabled and hidden
                *   For questionType:
                *       Boolean variables as hidden tags to accommodate radio button & fill values accordingly
                *       Change of questiontype, update the hidden variables & toggle tables
                *   For options:
                *       Checkbox/radio button value should be equal to hidden correctAnswer field
                *       set values of hidden boolean variables before form submission for selected values
                */
        -->
        <script type="text/javascript">
            $(document).ready(function(){


                $("#trueOrFalse-table").find("input").attr('disabled', 'disabled');
                var questionType = $('.questionType').val();
                $('#'+questionType).val(true);
                $('.true-field').val(true);
                $('.false-field').val(false);

               $('.questionType').change(
                    function(){
                        var id = $(this).val();
                        var tableId = id + "-table";

                        $('.questionTypeHidden').each(function(){
                            var qtHiddenId = $(this).attr('id');
                            if(id==qtHiddenId) {
                                $(this).val(true);
                                var tableId = qtHiddenId+"-table";
                                $('#'+tableId).find('input').removeAttr('disabled');
                                $('#'+tableId).show();
                            }
                            else {
                                $(this).val(false);
                                var tableId = qtHiddenId+"-table";
                                $('#'+tableId).find('input').attr('disabled', 'disabled');
                                $('#'+tableId).hide();
                            }
                        })
                    })

                $('#submit-form').click(function(){
                    $('.correctAnswer:enabled').each(function(){
                        if($(this).prop('checked')) {
                            var id = $(this).val();
                            $('#'+id).val(true);
                        } else {
                            var id = $(this).val();
                            $('#'+id).val(false);
                        }
                    })
                    $('.form').attr('action', $('.action').val());
                    $('.form').submit();
                })
            });
        </script>
    </div>
</head>

<body>
    <div th:fragment="content">
        <div class="container">
            <h4>Create Post</h4>
            <form th:object="${forumPost}" th:action="@{/forum/createPost}" method="post" class="form">
                <div id="containerDiv" class="form-group">
                <div class="forumpost" id="forumPostDiv">  
                    <table>
                        <tr>
                            <td>Title</td>
                            <td><input type="text" th:field="*{title}" id="forumPostTitle" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><textarea rows="3" cols="50" id="forumPostDescription" th:field="*{description}"  class="form-control"></textarea></td>
                        </tr>
					</table>
                    <!--<a th:href="@{/question/search}"><input type="button" value="Cancel" class="btn btn-primary"/></a>-->
             		<input type="button" value="Create Post" class="btn btn-primary" id="submit-form"/>
             	</div>
            </div>
        </form>
        </div>
    </div>
</body>
 </html>