<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
  <head>
    <title>Login page</title>
  </head>
  <body>

    <div th:fragment="content">

        <!--login modal-->
        <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="text-center">Login</h2>
                        <p th:if="${error}">Invalid username or password</p>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/user/loginSubmit}" method="post">
                            <div class="form-group">
                                <input type="text" id="j_username" name="j_username"  class="form-control input-lg" placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <input type="password" id="j_password" name="j_password" class="form-control input-lg" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <span class="pull-right"><a href="/">Cancel</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>