<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <div th:fragment="header">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    </div>
</head>
<body>
    <div th:fragment="content">
        <div class="container ">

            <div>
                <form action="#" th:action="@{/testset/submittestset}" th:object="${testset}" method="post">
                    <!--TestForm Id-->
                    <input type="hidden" th:field="*{id}" th:value="${id}"/>
                    <div th:each="section, rowStat1: *{sections} ">
                        <h3>Section: <span th:text="${section.category.title}"/></h3>
                        <!--Section category-->
                        <input type="hidden" th:field="*{sections[__${rowStat1.index}__].category.id}" th:value="${section.category.id}"/>
                        <ol>
                            <div th:each="l, rowStat2: *{sections[__${rowStat1.index}__].qaa}">
                                <div th:if="${l.question.multipleChoice}" class="featurette">
                                    <strong><li th:text="${l.question.questionText}" ></li></strong>
                                    <input type="hidden" th:field="*{sections[__${rowStat1.index}__].qaa[__${rowStat2.index}__].question.id}" th:value="${l.question.id}"/>
                                    <ul>
                                        <li th:each="option, rowStat3 : *{sections[__${rowStat1.index}__].qaa[__${rowStat2.index}__].question.options}">
                                            <input type="checkbox" th:field="*{sections[__${rowStat1.index}__].qaa[__${rowStat2.index}__].selectedOptions}" th:value="${option.id}"/>
                                            <label th:text="${option.text}">Option</label>
                                        </li>
                                    </ul>

                                </div>

                                <div th:if="${l.question.trueOrFalse}" class="featurette">
                                    <strong><li th:text="${l.question.questionText}" ></li></strong>
                                    <input type="hidden" th:field="*{sections[__${rowStat1.index}__].qaa[__${rowStat2.index}__].question.id}" th:value="${l.question.id}"/>
                                    <ul>
                                        <li th:each="option, rowStat3 : *{sections[__${rowStat1.index}__].qaa[__${rowStat2.index}__].question.options}">
                                            <input type="radio" th:field="*{sections[__${rowStat1.index}__].qaa[__${rowStat2.index}__].selectedOptions}" th:value="${option.id}" />
                                            <label th:text="${option.text}">Option</label>
                                        </li>
                                    </ul>

                                </div>

                                <hr class="featurette-divider"/>

                            </div>
                        </ol>
                    </div>

                    <!--<input type="submit" value="Submit"/>-->

                    <a style="float: left" th:href="@{/testset/view/{id}(id=${testset.id})}" method="get" class="btn btn-info">Back</a>
                    <input style="float: right" type="submit" class="btn btn-primary " value="Submit"/>

                </form>
            </div>

        </div>
    </div>
</body>
</html>