<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<head>
    <title>View Test Set</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../static/js/jquery-1.10.1.min.js" th:src="@{/js/jquery-1.10.1.min.js}"></script>
    <div th:fragment="header">
        <style>
            td {
            padding: 10px 15px 10px 15px;
            }
        </style>
        <script>
//            $(document).ready(function(){
//                $('.set-category').click(function(){
//                    $('.'+this.id).toggle();
//                })
//            });
        </script>
    </div>
</head>
<body>
<div th:fragment="content">
    <div class="container">

        <table class="table table-hover" style="border-collapse:collapse;">
            <thead>
            <tr>
                <th width="10%">
                    Title
                </th>
                <th width="50%">
                    Category
                </th>
                <th width="20%">
                    Level
                </th>
                <!--<th width="20%">-->
                    <!--Deadline-->
                <!--</th>-->
            </tr>
            </thead>

            <!--style="padding-left:20px;"-->
            <tbody data-link="row" class="rowlink">
                <tr th:each="l : ${results}">
                    <td><a th:text="${l.title}" th:href="@{/testset/view/{id}(id=${l.id})}" method="get"/></td>

                    <td>
                        <!--<div th:each="categoryset:${l.testSetCategories}">-->
                            <!--<span th:text="${categoryset.category.title}"> Category Id </span> &nbsp;, -->
                        <!--</div>-->
                            <span th:each="categoryset:${l.testSetCategories}" th:text="${categoryset.category.title} + ' |' "> Category Id </span>
                    </td>

                    <td th:text="${l.level}"></td>

                </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>