
<script type="text/javascript">
	$(function() {
		//	$("input[name='checkboxName']").prop('required',true);
		// 	var checkboxes = $("input[name='checkboxName']"), submitButt = $("input[type='submit']");

		// 	checkboxes.click(function() {
		// 		submitButt.attr("disabled", !checkboxes.is(":checked"));
		// 	});

		$("#target").submit(function(event) {
// 			if (!$("[name=checkboxName]:checked").length > 0) {
// 				alert("ans all. no skipping");
// 				event.preventDefault();
// 			}
		});

	});
</script>