<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>View Post</title>
</head>
<body>
<div th:fragment="content">

    <div class="container ">
        <div class="vertical-center">
        <div>
            <dl class="dl-horizontal">
                <dt>Title:</dt>
                <dd><div th:utext="${forumPost.title}"/></dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Description:</dt>
                <dd><div th:utext="${forumPost.description}"/></dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Created by</dt>
                <dd><div th:utext="${forumPost.fName}"/></dd>
            </dl>
        </div>
            <a th:href="@{|/forum/reply?postId=${forumPost.id}|}"><input type="button" class="btn btn-primary" value="Reply"/></a>
            <a th:href="@{|/forum/close?postId=${forumPost.id}|}"><input type="button" class="btn btn-primary" value="Close"/></a>
        <a th:href="@{/forum/viewPost}" class="btn btn-info pull-right ">Back</a>
    </div>

</div>

</div>
</body>
</html>