<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<head>
    <title>Create Assignment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../static/js/jquery-1.10.1.min.js" th:src="@{/js/jquery-1.10.1.min.js}"></script>
    <div th:fragment="header">
        <style>
            td {
                padding: 10px 15px 10px 15px;
            }
            input[type=text] {
                width: 400 px;
                height: 45 px;
            }
        </style>
        <!--
                /* Script:
                *   By Default: Keep true or false as disabled and hidden
                *   For questionType:
                *       Boolean variables as hidden tags to accommodate radio button & fill values accordingly
                *       Change of questiontype, update the hidden variables & toggle tables
                *   For options:
                *       Checkbox/radio button value should be equal to hidden correctAnswer field
                *       set values of hidden boolean variables before form submission for selected values
                */
        -->
        <script type="text/javascript">
            $(document).ready(function(){
            	
            	$("#trueOrFalse-table").find("input").attr('disabled', 'disabled');
                var questionType = $('.questionType').val();
                $('#'+questionType).val(true);
                $('.true-field').val(true);
                $('.false-field').val(false);

               $('.questionType').change(
                    function(){
                        var id = $(this).val();
                        var tableId = id + "-table";

                        $('.questionTypeHidden').each(function(){
                            var qtHiddenId = $(this).attr('id');
                            if(id==qtHiddenId) {
                                $(this).val(true);
                                var tableId = qtHiddenId+"-table";
                                $('#'+tableId).find('input').removeAttr('disabled');
                                $('#'+tableId).show();
                            }
                            else {
                                $(this).val(false);
                                var tableId = qtHiddenId+"-table";
                                $('#'+tableId).find('input').attr('disabled', 'disabled');
                                $('#'+tableId).hide();
                            }
                        })
                    })

                $('#submit-form').click(function(){
                    $('.correctAnswer:enabled').each(function(){
                        if($(this).prop('checked')) {
                            var id = $(this).val();
                            $('#'+id).val(true);
                        } else {
                            var id = $(this).val();
                            $('#'+id).val(false);
                        }
                    })
                    $('.form').attr('action', $('.action').val());
                    $('.form').submit();
                })
            });
        </script>
    </div>
</head>

<body>
    <div th:fragment="content">
      <div class="container">
          <h4>Testing Problems</h4>
            
            
    	<div class="row">
     	<div class="col-lg-12">
   		<div class="panel panel-default">
			
	        <div class="panel-body">
				<h4>Check if the below program is a palindrome considering all possible test cases</h4>
	                                                                                  
	      	</div>
      		<!-- /.panel-body -->
	  	</div>
	  	<!-- /.panel -->
		</div>
   		</div>
                                
            
            <form th:object="${assignment}" th:action="@{/autocorrection}" method="post" class="form">
                <input type="hidden" value="/autocorrection" class="action" th:unless="${setCategoryId}"/>
                <input type="hidden" th:value="|/autocorrection/newassignment/${testsetId}/${setCategoryId}|" class="action" th:if="${setCategoryId}"/>
                <div id="containerDiv" class="form-group">
                <div class="question1" id="quesDiv">
                    <table>
                        <tr>
                            <td>
                                <input type="radio" name="questionType" value="mcq" class="questionType" checked="checked"/>
                            </td>
                            <td>
                                Multiple Choice
                                <input type="hidden" th:field="*{multipleChoice}" value="true" id="mcq" class="questionTypeHidden"/>
                            </td>
                            <td>
                                <input type="radio" name="questionType" value="trueOrFalse" class="questionType"/>
                            </td>
                            <td>
                                True or False
                                <input type="hidden" th:field="*{trueOrFalse}" value="false" id="trueOrFalse" class="questionTypeHidden"/>
                                <input type="hidden" th:field="*{type}" value="user-defined" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Category
                            </td>
                            <td>
                                <select th:field="*{categoryID}" class="form-control">
                                    <option value="">--Select--</option>
                                    <option th:value="${category.id}" th:text="${category.title}" th:each="category:${categories}"></option>
                                    <option th:value="${category.id}" th:text="${category.title}" th:each="category:${categories}" selected="selected" th:if="${category.id==categoryID}"></option>
                                </select>
                                <input type="hidden" th:field="*{type}" value="user-defined"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Level</td>
                            <td colspan="3">
                                <select th:field="*{level}" class="form-control">
                                    <option value="Beginner">Beginner</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Expert">Expert</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Focus</td>
                            <td colspan="3">
                                <select th:field="*{focus}" class="form-control">
                                    <option value="Concept">Concept</option>
                                    <option value="Depth">Depth</option>
                                    <option value="Skills">Skills</option>
                                </select>
                            </td>
                        </tr>
                       
                    </table>
                    <table>
                        
                        <tr>
                            <td>Question</td>
                            <td><textarea rows="15" cols="80" id="quesText" th:field="*{questionText}" class="form-control" placeholder="Write the program question for the assignment"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label>Options</label></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table id="mcq-table" class="optionTable">
                                    <tr>
                                        <td><input type="checkbox" id="answer-0" class="correctAnswer" value="correct-0" checked='checked'/></td>
                                        <td><input type="text" th:field="*{options[0].text}" id="answer-0-text" class="form-control"/></td>
                                        <input type="hidden" name="options[0].correctOption" id="correct-0"/>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" value="correct-1" class="correctAnswer" id="answer-1"/></td>
                                        <td><input type="text" th:field="*{options[1].text}" id="answer-1-text" class="form-control"/></td>
                                        <input type="hidden" name="options[1].correctOption" id="correct-1"/>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" value="correct-2" class="correctAnswer" id="answer-2"/></td>
                                        <td><input type="text" th:field="*{options[2].text}" id="answer-2-text" class="form-control"/></td>
                                        <input type="hidden" name="options[2].correctOption" id="correct-2"/>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" value="correct-3" class="correctAnswer" id="answer-3"/></td>
                                        <td><input type="text" th:field="*{options[3].text}" id="answer-3-text" class="form-control"/></td>
                                        <input type="hidden" name="options[3].correctOption" id="correct-3"/>
                                    </tr>
                                    
                                </table>

                                <table id="trueOrFalse-table" class="optionTable" style="display:none">
                                    <tr>
                                        <td><input type="radio" name="tf-radio" id="true" class="correctAnswer" value="correct-true" checked='checked'/></td>
                                        <td><input type="hidden" th:field="*{options[0].text}" value="True" class="true-field"/>True</td>
                                        <input type="hidden" name="options[0].correctOption" id="correct-true"/>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" name="tf-radio" value="correct-false" class="correctAnswer" id="false"/></td>
                                        <td><input type="hidden" th:field="*{options[1].text}" value="False" class="false-field"/>False</td>
                                        <input type="hidden" name="options[1].correctOption" id="correct-false"/>
                                    </tr>
                                </table>
                            </td>
                        </tr>
					</table>
                    <!--<a th:href="@{/question/search}"><input type="button" value="Cancel" class="btn btn-primary"/></a>-->
             		<input type="button" value="Create Assignment" class="btn btn-primary" id="submit-form"/>
             	</div>
            </div>
        </form>
        </div>
    </div>
</body>
</html>

