<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>View Project</title>
</head>
<body>
<div th:fragment="content">

    <div class="container ">
        <div class="vertical-center">
        <div>
            <dl class="dl-horizontal">
                <dt>Title:</dt>
                <dd><div th:utext="${studentProject.title}"/></dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Description:</dt>
                <dd><div th:utext="${studentProject.description}"/></dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Created by</dt>
                <dd><div th:utext="${studentProject.fName}"/></dd>
            </dl>
        </div>
            <a th:href="@{|/project/submit?projectId=${studentProject.id}|}"><input type="button" class="btn btn-primary" value="Submit"/></a>
        <a th:href="@{/project/viewProjects}" class="btn btn-info pull-right ">Back</a>
    </div>
</div>

</div>
</body>
</html>